<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python Finance Info</title>
  </head>
  <body>
    <h1>Python Finance Info</h1>
    <h3>Uses Intraday Change Calculation</h3>
    <h4>i.e. (Closing Price - Opening Price)</h4>

    <form id="form">
      <input
        type="text"
        name="ticker"
        id="ticker"
        placeholder="Enter Ticker Symbol Here"
      />
      <input type="submit" id="submit" value="Submit" />
    </form>

    <br />
    <p id="result" style="border: 1px solid; padding-left: 20px"></p>
    <script>
      const resultElement = document.getElementById("result");
      const form = document.getElementById("form");

      form.addEventListener("submit", async function () {
        event.preventDefault();

        resultElement.textContent = "Submitting...";
        try {
          const response = await fetch("/api/submit", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(document.getElementById("ticker").value),
          });

          const result = await response.json();
          console.log(result, result.message);
          resultElement.textContent = result.message;
        } catch (error) {
          resultElement.textContent = error;
        }
      });
    </script>
  </body>
</html>
